#REPORT_INVOICES001-loading-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#REPORT_INVOICES001-agGrid {
    width: 100%;
    height: 60vh;
    margin: auto;
}
