@import "../../App.scss";

.page-register {
    .page-register-main {
        position: relative;
        height: 95vh;
        min-height: 768px;
        background-image: url(./BackgroundRegister.png);
        background-repeat: no-repeat;
        background-size: cover;

        .yusen-form-border {
            .yusen-form-border-article {
                .yusen-form-border-main {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h1 {
                        color: $YUSEN_DARK_BLUE;
                        font-weight: bolder;
                        margin-top: 1rem;
                    }

                    #link-to-gdpr {
                        font-weight: bolder;
                    }
                    
                    .sel-register {
                        display: inline-block;
                        width: 90%;
                    }
                }
            }
        }
    }
}
