@import "../../../App.scss";

.page-contact-budapest {
    main {
        position: relative;
        height: 70vh;
        min-height: 768px;
        background-image: url(./BackgroundBudapest.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
