.SEL_HAM_MENU_BUTTON {
    margin: auto 5px;
    font-size: 24px;
    cursor: pointer;
}

.SEL_HAM_MENU {
    display: none;
    flex-direction: column;
}

@media screen and (min-width: 640px) {
    .SEL_HAM_MENU {
        width: 50%;
    }
}

.SEL_HAM_MENU_ITEM {
    margin: 3px 10px 3px 3px;
    cursor: pointer;
    border-left-style: solid;
}

.SEL_HAM_MENU_ITEM:hover {
    border-left-color: #666;
}

.SEL_HAM_MENU_ITEM h4 {
    margin: 5px 5px;
}

.SEL_HAM_MENU_ITEM h6 {
    margin: 3px 15px 10px 15px;
}

