<div class="page-routes-address-data">
    <div class="page-routes-address-pict">
    </div>
    <div class="page-routes-address-info">
        <div class="page-routes-address-line1">###page-routes-address-line1</div>
        <div class="page-routes-address-line2">###page-routes-address-line2</div>
        <div class="page-routes-address-line3">###page-routes-address-line3</div>
        <div class="page-routes-address-line4">###page-routes-address-line4</div>
        <div class="page-routes-address-line5">###page-routes-address-line5</div>
        <div class="page-routes-address-status-remarks">###page-routes-address-status-remarks</div>
    </div>
</div>
<div class="page-routes-address-statuses">
</div>