@import "../../App.scss";

.page-home {
    .messages-column-1 {
        background-color: $UPS_WHITE;

        .message-item {
            margin: 40px;
            padding: 20px 40px;
            background-color: $UPS_BROWN_LIGHT_TONE_50;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            h3 {
                font-size: 1.2rem;
                color: $UPS_BROWN_DARK_TONE;
            }

            h4 {
                font-size: 0.8rem;
                color: $UPS_BROWN_DARK_TONE;
            }

            a {
                font-size: 0.8rem;
                margin: 25px 0px 0px 0px;
                color: $UPS_BLUE;
            }
        }
    }

    .messages-column-2 {
        display: none;
    }

    @media (min-width: 1024px) {
        .messages {
            display: flex;
            max-width: 1750px;
            margin: auto;
        }

        .messages-column-2 {
            display: block;
            img {
                display: block;
                width: 100%;
                height: auto;
                background-repeat: no-repeat;
            }
        }
    }
}
