@import "../../../App.scss";

.page-contact-vienna {
    main {
        position: relative;
        height: 70vh;
        background-image: url(./BackgroundVienna.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
