
@media screen and (min-width: 640px) {
    .PAGE_DETAILS_AREA {
        display: flex;
    }
}

.PAGE_DATA_AREA {
    width: 100%;
}

#filter_demo {
    display: none;
}

#grid_demo {
    display: none;
}

#myGrid {
    height: 800px;
    width: 100%;
}

