#header_logo {
    content: url("../../_EASYSETUP/pictures/logo_01.png");
    display: inline-block;
    width: 161px;
    padding: 12px 0 14px 0;
}

@media screen and (min-width: 320px) and (max-width: 799px) {
    #header_logo {
        width: 121px;
    }
}

@media screen and (max-width: 319px) {
    #header_logo {
        width: 70px;
    }
}

#Header_Title {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding: 12px 0px 12px 0px;
    text-align: center;
    background-color: #06183D;
    color: #E5E7EA;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;
}

.Logo_And_Header {
    display: flex;
    justify-content: space-between;
}

#FPf_LOGIN_ALERT {
    display: none;
}
