:root {
    /* UPS colors */
    --UPS_DARK_BLUE: #0e2554;
    --UPS_BLUE: #426da9;
    --UPS_TEAL: #00857c;
    --UPS_BROWN_DARK_TONE: #595555;
    --UPS_BROWN_LIGHT_TONE_50: #dfdbd7;
    --UPS_WHITE: #fff;
}
